flows.json
[{"id":"90a34cca.a387c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"464aadd6.0146b4","type":"inject","z":"90a34cca.a387c","name":"","topic":"","payload":"Hello Node-RED!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":141,"y":61,"wires":[["3201c81b.b2a278"]]},{"id":"30fd215e.ca029e","type":"debug","z":"90a34cca.a387c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":100,"wires":[]},{"id":"cd631377.dbe64","type":"function","z":"90a34cca.a387c","name":"input parsing","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":220,"wires":[["5eb36aa7.07cb44","3201c81b.b2a278"]]},{"id":"c0e3407b.39361","type":"ui_form","z":"90a34cca.a387c","name":"","label":"","group":"74a38f5c.65f1d","order":0,"width":0,"height":0,"options":[{"label":"Enter your query","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":280,"wires":[["cd631377.dbe64"]]},{"id":"5eb36aa7.07cb44","type":"ui_text","z":"90a34cca.a387c","group":"74a38f5c.65f1d","order":1,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":453.5,"y":306,"wires":[]},{"id":"5e068381.4fc63c","type":"ui_text","z":"90a34cca.a387c","group":"74a38f5c.65f1d","order":2,"width":"6","height":"6","name":"","label":"Assistant","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":240,"wires":[]},{"id":"66f0facd.233644","type":"function","z":"90a34cca.a387c","name":"parsing","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":180,"wires":[["30fd215e.ca029e","5e068381.4fc63c"]]},{"id":"72857c41.81d244","type":"debug","z":"90a34cca.a387c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":40,"wires":[]},{"id":"3201c81b.b2a278","type":"watson-conversation-v1","z":"90a34cca.a387c","name":"","workspaceid":"43572794-7c01-47fb-a7a4-6d2691c535c7","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/e148bf2c-9a38-4b1e-8a1c-b8014e7e6605","timeout":"","optout-learning":false,"x":360,"y":120,"wires":[["66f0facd.233644","72857c41.81d244"]]},{"id":"74a38f5c.65f1d","type":"ui_group","z":"","name":"Customer Help Desk","tab":"d84abc78.bbd12","order":1,"disp":true,"width":"6","collapse":false},{"id":"d84abc78.bbd12","type":"ui_tab","z":"","name":"Product","icon":"dashboard","order":1,"disabled":false,"hidden":false}]